.header {
  background-color: #24292f;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  padding: 16px 22px 16px 41px;
}

input {
  width: 100%;
  height: 24px;
  padding: 8px 14px 8px 44px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.form {
  position: relative;
  border: 1px solid #aca4a4;
  border-radius: 5px;
  max-width: 442px;
  width: 33%;
  opacity: 0.4;
  transition: all 0.2s;
}

.form::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 0;
  bottom: 0;
  width: 18px;
  background: url("../assets/search.png") center / contain no-repeat;
}

.form:hover {
  opacity: 1;
}


.form_input {
  background-color: #24292f;
  max-width: 100px;
  height: 15px;
  color: #ffff;
  cursor: default;
}

.form_input::-webkit-input-placeholder { 
  color: #aca4a4;
  font-size: 15px;
  font-family: 'Ibarra Real Nova', serif;
 }
